
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Añadir unidad administrativa</title>
    <link href="estilos.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
</head>
<body>
    <div id="sidebar" class="active">
        <div class="azul">
            <span class="icon">&#9776;</span>
        </div>
        <nav class="slidebar">

            <nav class="iconosbar">

                <a href="#menu1"></a> <!--ADMINISTRAR-->
                <a href="#menu2"></a> <!--RESTRINGIR-->
                <a href="#menu3"></a><!--ACTIVAR-->
                <a href="#menu4"></a><!--CONSULTAR-->
                <a href="#menu5"></a><!--VER-->
                <a href="#menu6"></a><!--Montos a autorizar-->
                <a href="#menu7"></a><!--INSUMOS POR MES-->
                <a href="#menu8"></a><!--Catálogo de insumos-->
                <a href="#" class="logout"></a>
            </nav>
            <div class="colapsable">


                <nav id="menu1">

                    <a asp-action="Index" asp-controller="UnidadesAdministrativas">Unidades administrativas</a>
                    <a href="#">Empleados</a>
                    <a href="#">Partidas</a>
                    <a href="#">Capítulos</a>
                    <a href="#">Insumos</a>
                    <a href="#">Unidades de medida</a>
                    <a href="#">Indicadores</a>
                    <a href="#">Capturar PIID</a>

                </nav>


                <nav id="menu2">

                    <a href="#">Objetivos</a>
                    <a href="#">Partidas</a>


                </nav>

                <nav id="menu3">

                    <a href="#">Periodo de captura de requisiciones</a>
                    <a href="#">Periodo de captura POA/PTA</a>
                    <a href="#">Periodo de seguimiento POA/PTA</a>

                </nav>

                <nav id="menu4">

                    <a href="#">PTA/POA programado</a>
                    <a href="#">PTA/POA real</a>
                    <a href="#">Quien no ha capturado POA/PTA</a>
                    <a href="#">Requisiciones</a>

                </nav>

                <nav id="menu5">

                    <a href="#">Gastado/programado de la partida</a>
                    <a href="#">Insumos</a>
                    <a href="#">Monto asignado por unidad administrativa</a>



                </nav>


            </div>
        </nav>
    </div>
    <header>
    </header>

   @RenderBody()
</body>
</html>
