
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <link href="estilos.css" rel="stylesheet" />
</head>
<body>
    <section class="menuprinc">
        <div class="black"></div>
        <section class="bienvenida">
            <img src="~/images/tec.png" />
            <h2 class="user">Usuario 1</h2>
       
            <h2 class="menu">Menú</h2>
        </section>

        <nav class="colapsable">

            <ul>
                <li>
                    <a href="#menu1">Administrar</a>
                    <ul id="menu1">
                        <li><a asp-controller="UnidadesAdministrativas" asp-action="Index">Unidades administrativas</a></li>
                        <li><a href="#">Empleados</a></li>
                        <li><a href="#">Partidas</a></li>
                        <li><a href="#">Capítulos</a></li>
                        <li><a href="#">Insumos</a></li>
                        <li><a href="#">Unidades de medida</a></li>
                        <li><a href="#">Indicadores</a></li>
                        <li><a href="#">Capturar PIID</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#menu2">Restringir</a>
                    <ul id="menu2">
                        <li><a href="#">Objetivos</a></li>
                        <li><a href="#">Partidas</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#menu3">Activar</a>
                    <ul id="menu3">
                        <li><a href="#">Periodo de captura de requisiciones</a></li>
                        <li><a href="#">Periodo de captura POA/PTA</a></li>
                        <li><a href="#">Periodo de seguimiento POA/PTA</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#menu4">Consultar</a>
                    <ul id="menu4">
                        <li><a href="#">PTA/POA programado</a></li>
                        <li><a href="#">PTA/POA real</a></li>
                        <li><a href="#">Quien no ha capturado POA/PTA</a></li>
                        <li><a href="#">Requisiciones</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#menu5">Ver</a>
                    <ul id="menu5">
                        <li><a href="#">Gastado/programado de la partida</a></li>
                        <li><a href="#">Insumos</a></li>
                        <li><a href="#">Monto asignado por unidad administrativa</a></li>


                    </ul>
                </li>
                <li><a href="#">Montos a autorizar</a></li>
                <li><a href="#">Insumos por mes</a></li>
                <li><a href="#">Catálogo de insumos</a></li>
            </ul>

        </nav>
    </section>

    @RenderBody()

</body>
</html>
