@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="hint.min.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/scripts/funciones.js"></script>
</head>
<body>
    <header>
        <div class="lbl ">
            <label></label>
            <a href="#" aria-label="Cerrar sesión" class="logout hint--left">............</a>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="wrapper">
            <nav>
                <ul class="menu-area">
                    <li>
                        <a href="#menu1" class="icon hint--right" aria-label="Administrar"></a>
                        <ul>
                            <li> <a href="~/UnidadesAdministrativas">Unidades administrativas</a></li>
                            <li> <a href="#">Empleados</a></li>
                            <li> <a href="#">Partidas</a></li>
                            <li><a href="~/AdministrarCapitulosPartidas">Capítulos/ Partidas</a></li>
                            <li> <a href="#">Insumos</a></li>
                            <li><a href="#">Unidades de medida</a></li>
                            <li><a href="#">Indicadores</a></li>
                            <li><a href="~/PIID">Capturar PIID</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#menu2" class="icon1 hint--right" aria-label="Restringir"></a>
                        <ul>

                            <li><a href="#">Objetivos</a></li>
                            <li><a href="#">Partidas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#menu3" class="icon2 hint--right" aria-label="Activar"></a>
                        <ul>
                            <li> <a href="#">Periodo de captura de requisiciones</a></li>
                            <li> <a href="#">Periodo de captura POA/PTA</a></li>
                            <li><a href="#">Periodo de seguimiento POA/PTA</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#menu4" class="icon3 hint--right" aria-label="Consultar"></a>
                        <ul>
                            <li><a href="#">PTA/POA programado</a></li>
                            <li><a href="#">PTA/POA real</a></li>
                            <li> <a href="#">Quien no ha capturado POA/PTA</a></li>
                            <li><a href="#">Requisiciones</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#menu5" class="icon4 hint--right" aria-label="Ver"></a>
                        <ul>
                            <li> <a href="#">Gastado/programado de la partida</a></li>
                            <li><a href="#">Insumos</a></li>
                            <li> <a href="#">Monto asignado por unidad administrativa</a></li>
                        </ul>
                    </li>
                    <li> <a href="#menu6" class="icon5 hint--right" aria-label="Montos a autorizar"></a></li>
                    <li>  <a href="#menu7" class="icon6 hint--right" aria-label="Insumos por mes"></a></li>
                    <li>  <a href="#menu8" class="icon7 hint--right" aria-label="Catálogo de insumos"></a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>