
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main>
    <div class="fabs">
        <div>
            <button onclick="EditarUnidad()" id="btnEditar" class="fab-button"><i class="fa fa-edit"></i></button>
            <button class="fab-button"><i class="fa fa-trash"></i></button>

        </div>

        <a href="#" class="fab-button"><i class="fa fa-plus"></i></a>


    </div>

    <section>

        <h2>
            Insumos
            <input type="search" placeholder="Filtro..." />
        </h2>
        <table>
            <thead>


                <tr>
                    <th class="center">Nombre</th>
                    <th class="center">Descripción</th>
                    <th class="center">Unidad de medida</th>
                    <th class="center">Costo unitario</th>
                    <th class="center">No. Partida</th>




                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="center">Insumo</td>
                    <td class="center">Insumo pequeño</td>
                    <td class="center">Paquete</td>
                    <td class="center">20</td>
                    <td class="center">3412</td>

                </tr>
                <tr>
                    <td class="center">Insumo</td>
                    <td class="center">Insumo pequeño</td>
                    <td class="center">Paquete</td>
                    <td class="center">20</td>
                    <td class="center">3412</td>

                </tr>
                <tr>
                    <td class="center">Insumo</td>
                    <td class="center">Insumo pequeño</td>
                    <td class="center">Paquete</td>
                    <td class="center">20</td>
                    <td class="center">3412</td>

                </tr>
                <tr>
                    <td class="center">Insumo</td>
                    <td class="center">Insumo pequeño</td>
                    <td class="center">Paquete</td>
                    <td class="center">20</td>
                    <td class="center">3412</td>

                </tr>
            </tbody>
        </table>




    </section>





</main>

<div class="container-all">

    <section class="popup">
        <label>¿Eliminar?</label>
        <div class="btnpop">

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>
        </div>
    </section>


    <section class="popupestrategias">
        <h3>Agregar insumo</h3>

        <label>Nombre:</label>
        <input type="text" />

        <label for="unidadesmedida">Unidad de medida:</label>
        <select id="unidadesmedida">
            <option>Pieza</option>
            <option>Pesos</option>
            <option>Paquete</option>
            <option>Caja</option>
            <option>Rollo</option>
        </select>

        <label for="Nopartida">Número de partida:</label>
        <select id="Nopartida">
            <option>1234</option>
        </select>

        <label>Costo:</label>
        <input type="number" />

        <label for="desc">Descripción:</label>

        <textarea id="desc"></textarea>

        <div>

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>

        </div>
    </section>

    <section class="popupestrategias">
        <h3>Editar insumo</h3>

        <label>Nombre:</label>
        <input type="text" />

        <label for="unidadesmedida">Unidad de medida:</label>
        <select id="unidadesmedida">
            <option>Pieza</option>
            <option>Pesos</option>
            <option>Paquete</option>
            <option>Caja</option>
            <option>Rollo</option>
        </select>

        <label for="Nopartida">Número de partida:</label>
        <select id="Nopartida">
            <option>1234</option>
        </select>

        <label>Costo:</label>
        <input type="number" />

        <label for="desc">Descripción:</label>
        <label></label>

        <textarea id="desc"></textarea>

        <div>

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>

        </div>
    </section>

</div>

