@model IEnumerable<Capitulo>

@{
    ViewData["Title"] = "AdministrarPIIDPartidasCapitulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <nav>
            <div class="fabs">
                <a href="#popedit" class="material-icons fab-button hint--left" aria-label="Editar">edit</a>
                <a href="#popdelete" class="material-icons fab-button  hint--left openpopup" aria-label="Eliminar">delete</a>
            </div>
            <ul class="fabSubfab">
                <li>
                    <a href="#" class="material-icons fab-button  hint--left" aria-label="Añadir nuevo">add</a>
                    <ul>
                        <li>
                            <a href="#popaddO">Añadir capitulo</a>
                        </li>
                        <li>
                            <a href="#popaddE">Añadir partida</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        @*<div class="fabs">
            <div>
                <a href="#popedit" class="material-icons fab-button hint--left" aria-label="Editar">edit</a>
                <a href="#popdelete" class="material-icons fab-button  hint--left openpopup" aria-label="Eliminar">delete</a>
            </div>
            <a href="#" class="material-icons fab-button  hint--left" aria-label="Añadir nuevo">add</a>
        </div>

        <div class="subfabAdd">
            <a href="#popaddO">Añadir capítulo</a>
            <a href="#popaddE">Añadir partida</a>
        </div>*@

        <div class="divtablaObj">

            @foreach (Capitulo cap in Model)
            {
                <ol>
                    <li>
                        <table class="tablaObj">
                            <tr id="thObj">
                                <th>@cap.Nombre</th>
                            </tr>
                            @foreach (Partida par in cap.Partida)
                            {
                                <tr id="filaEst">
                                    <td>@par.Concepto</td>
                                </tr>
                            }
                        </table>
                    </li>
                </ol>
            }

        </div>



    </main>

<div class="container-all" id="popdelete">
    <section class="popup">
        <label>¿Eliminar?</label>
        <div class="btnpop">

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>
        </div>
    </section>
</div>


<section class="popup">
    <label>Agregar</label>
    <h1>Capitulo:</h1>
    <input class="agregarObj" type="text" />
    <div>

        <button class="confirm">Cancelar</button>
        <button class="cancel">Añadir</button>
    </div>
</section>




<section class="popup">
    <label>Agregar</label>
    <h1>Partida:</h1>
    <input class="agregarObj" type="text" />
    <div>

        <button class="confirm">Cancelar</button>
        <button class="cancel">Añadir</button>
    </div>
</section>



<section class="popup">
    <label>Editar</label>
    <h1>Partida:</h1>
    <input class="agregarObj" type="text" />

    <div>
        <button class="confirm">Cancelar</button>
        <button class="cancel">Añadir</button>
    </div>
</section>
