@inject UnidadesAdministrativasService servicio
@model Unidadadministrativa
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/estilos.css" rel="stylesheet" />
}
<header>
</header>

<main>
    <form method="post" asp-action="Agregar">
        <div class="divmain" >
            <label>Clave:</label>
            <input asp-for="Clave" type="number" maxlength="4" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            <label>Nombre:</label>
            <input asp-for="Nombre" type="text" />
            <label>Encargado:</label>
            <input asp-for="Encargado" type="text" />
            <label>Superior:</label>
            <select asp-for="IdUnidadSuperior" asp-items="@(new SelectList(servicio.GetSuperiores(),"Id","Nombre"))">
                <option selected="selected" value="">-- Seleccionar superior --</option>
            </select>
            <div class="botones">
                <p >
                    @Html.ValidationSummary()
                </p>
                <input id="btnAgregar" style="margin-top:30px; width:45%; display:initial; margin-left:5%; background-color:#457abb; color:white; border-bottom:none" class="btn" type="submit" value="Añadir"  onclick="deshabilitar()"/>
                <input style="margin-top:10px; width:45%; display:initial; background-color:#5787c1; color:white; border-bottom:none;" class="btn2" onclick="Back()" type="button" value="Cancelar" />
            </div>
        </div>
        <script src="abrir.js" charset="utf-8"></script>


        <script>
            function Back() {
                window.history.back()
            }
            function deshabilitar() {
                document.getElementById("btnAgregar").disabled = false;
    }
        </script>

       
    </form>
</main>

