@inject UnidadesAdministrativasService servicio
@model Unidadadministrativa
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <form method="post" asp-action="Editar">
        <section>
            <h2>Editar unidad administrativa</h2>
            <section id="EditUA">
               
                <label>Clave:</label>
                <input required asp-for="Clave" type="number" onkeydown="pc ( event )" maxlength="4" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="filt" />
                <label>Nombre:</label>
                <input required asp-for="Nombre" type="text" />
                <label>Encargado:</label>
                <input required asp-for="Encargado" type="text" />
                <label>Superior:</label>
                <select asp-for="IdUnidadSuperior" asp-items="@(new SelectList(servicio.GetSuperiores(Model.Id),"Id","Nombre"))">
                    <option selected="selected" value="">-- Seleccionar superior --</option>
                </select>
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Eliminado" />
                <div class="botones">
                    <p class="ex" id="errores">
                        @Html.ValidationSummary()
                    </p>
                </div>
            </section>
        </section>
        <div class="fabsMain">
            <button type="submit" id="btnGuardar" class="fab-button"><i class="fa fa-save"></i></button>
            <a href="~/UnidadesAdministrativas" class="fab-button"><i class="fa fa-times"></i></a>
        </div>
    </form>
</main>
<script src="~/scripts/disabledbutton.js"></script>