@inject UnidadesAdministrativasService servicio
@model Unidadadministrativa
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="lbl ">
        <label>Unidades administrativas</label>
        <a href="#" aria-label="Cerrar sesión" class="logout hint--left">............</a>
    </div>
</header>
<main>
    <form method="post" asp-action="Editar">
        <div class="divmain">
            <h2>Añadir unidad administrativa</h2>
            <label>Clave:</label>
            <input required asp-for="Clave" type="number" maxlength="4" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            <label>Nombre:</label>
            <input required asp-for="Nombre" type="text" />
            <label>Encargado:</label>
            <input required asp-for="Encargado" type="text" />
            <label>Superior:</label>
            <select asp-for="IdUnidadSuperior" asp-items="@(new SelectList(servicio.GetSuperiores(Model.Id),"Id","Nombre"))">
                <option selected="selected" value="">-- Seleccionar superior --</option>
            </select>
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Eliminado" />
            <div class="botones">
                <p class="ex" id="errores">
                    @Html.ValidationSummary()
                </p>
            </div>
        </div>
        <div class="fabsMain">
            <button type="submit" id="btnGuardar" class="material-icons fab-button  hint--left" aria-label="Guardar">save</button>
            <a href="~/UnidadesAdministrativas" class="material-icons fab-button hint--left" aria-label="Cancelar">clear</a>
        </div>
    </form>
</main>
<script src="~/scripts/disabledbutton.js"></script>