@model IEnumerable<Unidadadministrativa>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Unidades administrativas</h1>
<table>
    <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Encargado</th>
        <th>Superior</th>
        <th></th>
    </tr>

    @foreach (Unidadadministrativa unidadadministrativa in Model)
    {
        <tr>
            <td>@unidadadministrativa.Clave</td>
            <td>@unidadadministrativa.Encargado</td>
            <td>@unidadadministrativa.Id</td>
            <td>@unidadadministrativa.IdUnidadSuperior</td>

        </tr>
    }


</table>

