@model IEnumerable<UnidadAdministrativasViewModel>
@{
    ViewData["Title"] = "Administrar Unidades Administrativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <section class="arriba">
        <div class="lbl">
            <label>Unidades </label>
        </div>
       
    </section>
</header>

<main>
    <div class="buscar">
        <a asp-controller="UnidadesAdministrativas" asp-action="Agregar" class="plus"></a>
        <input class="search" type="search" placeholder="Buscar..." />

    </div>
    <table>
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Encargado</th>
            <th>Superior</th>
            <th style="width:40px;"></th>
            <th style="width:40px;"></th>
        </tr>
        @foreach (UnidadAdministrativasViewModel unidad in Model)
        {
            <tr id="fila">
                <td>@unidad.Clave</td>
                <td>@unidad.Nombre</td>
                <td>@unidad.NombreEncargado</td>
                <td>@unidad.NombreSuperior</td>
                <td class="openpopup" style="width:20px;"><a href="#pop">......</a></td>
                <td style="width:20px;"><a class="edit" href="#">......</a></td>
            </tr>
        }
    </table>
  
</main>
<div class="container-all" id="pop">
    <section class="popup">
        <label>¿Eliminar?</label>
        <input class="confirm" type="button" value="Confirmar" />
        <a class="cancel" href="#">cancelar</a>
    </section>
</div>


