@model IEnumerable<UnidadAdministrativasViewModel>
@{
    ViewData["Title"] = "Administrar Unidades Administrativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Unidades administrativas</h1>
<table>
    <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Encargado</th>
        <th>Superior</th>
        <th></th>
    </tr>
    @foreach (UnidadAdministrativasViewModel unidadadministrativa in Model)
    {
<tr>
    <td>@unidadadministrativa.Clave</td>
    <td>@unidadadministrativa.Nombre</td>
    <td>@unidadadministrativa.NombreEncargado</td>
    <td>@unidadadministrativa.NombreSuperior</td>
</tr>
    }
</table>

