
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="fabs">
        <div>
            <button onclick="EditarUnidad()" id="btnEditar" class="fab-button"><i class="fa fa-edit"></i></button>
            <button class="fab-button"><i class="fa fa-trash"></i></button>

        </div>

        <a href="#" class="fab-button"><i class="fa fa-plus"></i></a>


    </div>
    <section>
        <h2>Unidades de medida</h2>
        <div class="respTable">
            <table>
                <thead>

                    <tr>
                        <th class="center">Id</th>
                        <th class="center">Nombre</th>




                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="center">1234</td>
                        <td class="center">Pesos</td>


                    </tr>


                </tbody>
            </table>
        </div>

    </section>
</main>


<div class="container-all">

    <section class="popup">
        <label>¿Eliminar?</label>
        <div class="btnpop">

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>
        </div>
    </section>



    <section class="popup">
        <label>Agregar</label>
        <h1>Unidad de medida:</h1>
        <input class="agregarObj" type="text" />
        <div>

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>
        </div>
    </section>




    <section class="popup">
        <label>Editar</label>
        <h1>Unidad de medida:</h1>
        <input class="agregarObj" type="text" />

        <div>

            <button class="confirm">Cancelar</button>
            <button class="cancel">Añadir</button>
        </div>
    </section>

</div>

