@inject UnidadesAdministrativasService servicio
@{
    ViewData["Title"] = "PermitirEstrategias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="fabsMain">
        <button id="btnEditar" class="fab-button"><i class="fa fa-edit" onclick="OpenCancel()"></i></button>
    </div>
    <h3>Unidad administrativa:</h3>
    <select id="cmbUnidades" asp-items="@(new SelectList(servicio.GetUnidades(),"Id","Nombre"))">
        <option selected="selected" value="">-- Seleccionar Unidad --</option>
    </select>
    <div class="divSeleccionados">
        <h3>Estrategias seleccionadas</h3>
        <dl id="dlEstrategias">
            <dt></dt>
            <dd></dd>
        </dl>
    </div>
</main>
<div class="container-all" id="popadd">
    <section id="sectionAdd" class="popupestrategias">
            <h3>Editar estrategias permitidas</h3>
            <section id="estrategias">
                <dl id="seleccionarEstrategias">
                </dl>
            </section>
            <div>
                <button class="confirm" onclick="OpenCancel()">Cancelar</button>
                <button class="confirm" onclick="Editar()" id="btnGuardar">Editar</button>
            </div>
        </section>
</div>
<script src="~/scripts/permitirEstrategias.js"></script>