.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

    .col-9.m5 {
        width: calc(75% - 5px);
        margin-right: 5px;
    }

.col-8.m5 {
    width: calc(66.66666667% - 5px);
    margin-right: 5px;
}

.col-8 {
    width: 66.66666667%;
}

.col-7.m5 {
    width: calc(58.33333333% - 5px);
    margin-right: 5px;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

    .col-6.m5 {
        width: calc(50% - 5px);
        margin-right: 5px;
    }


.col-5 {
    width: 41.66666667%;
}

    .col-5.m5 {
        width: calc(41.66666667% - 5px);
        margin-right: 5px;
    }

.col-4p5 {
	width: 37.5%;
}

.col-4 {
    width: 33.33333333%;
}

    .col-4.m5 {
        width: calc(33.33333333% - 5px);
        margin-right: 5px;
    }

.col-3 {
    width: 25%;
}

    .col-3.m5 {
        width: calc(25% - 5px);
        margin-right: 5px;
    }

.col-2 {
    width: 16.66666667%;
}

    .col-2.m5 {
        width: calc(16.66666667% - 5px);
        margin-right: 5px;
    }

.col-1 {
    width: 8.33333333%;
}

    .col-1.m5 {
        width: calc(8.33333333% - 5px);
        margin-right: 5px;
    }
