@font-face {
    font-family: comforta;
    src: url(fuentes/Champagne&LimousinesBold.ttf);
}


html {
    margin: 0px;
    padding: 0px;
    font-family: comforta;
}

body {
}
/*#457abb*/
header {
    width: 100%;
    background-color: transparent;
    height: 7%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

    header a {
        background-image: url(images/logout2.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
        width: 40px;
        height: 40px;
        margin-right:5px;
        margin-top: -45px;
        display: block;
        float: right;
        clear: left;
        color: rgba(0,0,0,0);
        border-radius:50%;
        background-color:#5787c1;
    }

    header div {
        width: 100%;
        height: 100%;
        background-color: #457abb;
    }

        header div label {
            display: block;
            line-height: 50px;
            margin-left: 5px;
            max-width: 300px;
            font-family: comforta;
            font-size: x-large;
            color: #f7f7f7;
            float: left;
            clear: left;
            width: 50%;
        }

main {
    background: white;
    width: 90%;
    max-width: 1500px;
    margin: 50px auto;
    /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
    margin-top: 70px;
    margin-left:100px;
}
    main .fabs {
        position: fixed;
        right: 5px;
        bottom: 50px;
        height:150px;
        width:50px;
    }
    main .fab-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #457abb;
        color: #f7f7f7;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        justify-content: center;
        font-size: 30px;
        display: block;
        margin: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        transition: background 0.25s;
    }

.fab-button:active{
    background-color:#5787c1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    margin-top: 20px;
}


    table th {
        border-bottom: 2px solid #7D8997;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color: #7D8997;
    }

    table td {
        text-align: center;
        height: 40px;
        line-height: 30px;
    }

    table #fila:hover {
        background-color: rgba(69, 122, 186, 0.31);
    }

    table td a {
        display: none;
    }

    table #fila:hover a {
        display: initial;
    }

    table nav {
        height: 50px;
        width: 50px;
    }

    table th a {
        background-image: url(images/more.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    table a {
        background-image: url(images/quit.png);
        background-repeat: no-repeat;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        font-size: x-large;
        color: rgba(0,0,0,0);
    }

    table .edit {
        background-image: url(images/edit.png);
        background-repeat: no-repeat;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        font-size: x-large;
        color: rgba(0,0,0,0);
    }

footer {
    background-color: #e1e1e1;
    position: fixed;
    left: 0;
    top: 7%;
    width: 55px;
    height: 100%;
    z-index: 0;
}


.container-all {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

    .container-all:target {
        /*background-color: rgba(0,0,0,0.6);*/
        visibility: visible;
        opacity: 1;
    }

        .container-all:target .popup {
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            z-index: 1;
            /*transform: rotate(0deg) translate(-50%, -50%);*/
            visibility: visible;
        }

.popup {
    width: 50%;
    max-height: 30%;
    height: 800px;
    position: absolute;
    /*top: -80%;
    left: -80%;*/
    z-index: -1;
    top: 30%;
    left: 25%;
    visibility: hidden;
    /*transform: rotate(90deg) translate(-150%, 230%);*/
    transition: all 600ms;
    background-color: white;
}

    .popup label {
        text-align: center;
        font-size: x-large;
        height: 100px;
        line-height: 100px;
        color: #236b81;
        display: block;
    }

    .popup div {
        margin: auto;
        width: 100%;
        display: block;
    }

    .popup .confirm {
        height: 30px;
        margin: 0px 5px 0px 100px;
        width: calc(100% / 2);
        border-radius: 5px;
        background-color: #457abb;
        color: white;
        border: 0;
    }

    .popup .cancel {
        border-radius: 5px;
        background-color: #5787c1;
        color: white;
        width: calc(100% / 2);
        text-decoration: none;
        padding: 5px 5px 8px 5px;
    }

.menu-area {
    list-style: none;
    margin-top: -5px;
    padding: 0;
}

    .menu-area > li > a {
        margin: auto;
        margin-top: 10px;
        width: 65%;
        height: 38px;
        display: block;
        border-radius: 50%;
        background-size: 25px;
        background-color: #d6d6d6;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(images/gear.png);
    }

    .menu-area > li > .icon1 {
        background-image: url(images/password.png)
    }

    .menu-area > li > .icon2 {
        background-image: url(images/activity.png)
    }

    .menu-area > li > .icon3 {
        background-image: url(images/quiz.png)
    }

    .menu-area > li > .icon4 {
        background-image: url(images/look.png)
    }

    .menu-area > li > .icon5 {
        background-image: url(images/cost.png)
    }

    .menu-area > li > .icon6 {
        background-image: url(images/product.png)
    }

    .menu-area > li > .icon7 {
        background-image: url(images/catalogo.png)
    }


    .menu-area > li > a:hover {
        background-color: #cccccc;
    }


    .menu-area li:hover > ul, .menu-area > li > li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        width: 200px;
    }


    .menu-area li ul {
        background-color: #f7f7f7;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
        left: 50px;
        top: 7%;
        position: fixed;
        height: 100%;
        width: 0%;
        margin: 0;
        padding: 0;
        
    }

        .menu-area li ul li > a {
            text-decoration: none;
            margin: 0;
            padding: 5px 0;
            box-sizing: border-box;
            padding-left: 5px;
            color: #636363;
            display: block;
          width:200px;
          height:50px;
          
     
        }

            .menu-area li ul li > a:hover {
                color: #457abb;
            }

main .divmain {
    background-color: #f7f7f7;
    width: 50%;
    margin: auto;
    height: 600px;
    max-height: 600px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}



.divmain input, .divmain label, .divmain select {
    display: block;
    width: 90%;
    box-sizing: border-box;
    border: none;
    font-size: small;
    line-height: 25px;
    margin-bottom: 10px;
    height: 25px;
    margin: auto;
    color: #7D8997;
}

.divmain .ex {
    color: red;
    padding: 10px 0;
    text-transform: uppercase;
}

.divmain input, .divmain select {
    border-bottom: 1.5px solid #7D8997;
    background-color: #f7f7f7;
}

main .divmain {
    background-color: #f7f7f7;
    width: 50%;
    margin: auto;
    height: 550px;
    max-height: 550px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}



.divmain input, .divmain label, .divmain select {
    display: block;
    width: 90%;
    box-sizing: border-box;
    border: none;
  
    font-size: medium;
    line-height: 25px;
    margin-bottom: 10px;
    height: 25px;
    margin: auto;

    color: #7D8997;
}

.divmain input, .divmain select {
    border-bottom: 1.5px solid #7D8997;
    background-color: #f7f7f7;
   
}

@media only screen and (max-width:700px) {

    table {
        font-size: smaller;
    }

    main {
        background: white;
        width: 90%;
        max-width: 1500px;
        /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
        margin-top: 5%;
    }

    main {
        width: 90%;
        margin-left: 50px;
        margin: 0px 50px;
        margin-top: 60px;
    }

    header a {
        margin-left: 90%;
    }

    header div {
    }

        header div label {
            font-size: large;
        }

    .popup label {
        font-size: medium;
        height: 50px;
        line-height: 50px;
    }


    .popup .confirm {
        height: 26px;
        margin: 0px 5px 0px 20px;
        font-family: comforta;
        border-radius: 5px;
        background-color: #457abb;
        color: white;
        border: 0;
    }

    .popup .cancel {
        border-radius: 5px;
        background-color: #5787c1;
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    .popup {
        max-height: 120px;
        height: 800px;
    }
}
