@font-face {
    font-family: caviardreams;
    src: url(fuentes/CaviarDreams.ttf);
    
}
@font-face {

    font-family: code;
    src: url(fuentes/CODE_Bold.ttf);
}

@font-face {
    src: url(fuentes/CaviarDreams_Bold.ttf);
    font-family:cdbold;
}

html {
    background-color: white;
    font-family: caviardreams;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
.menuprinc {
    color: #7D8997;
    width: 20%;
    height: 70%;
    background-color: #f8f9fa;
    position: fixed;
}
    .menuprinc .black {
        height: 40px;
        width: 100%;
        background-color: #272b30;
    }
.bienvenida {
    background-color: #f8f9fa;
    width: 100%;
}
.bienvenida img{
    height:30px;
    width:30px;
    margin-left:25%;
    margin-top:15px;
    min-height:130px;
    min-width:50%;
}

    .bienvenida .user {
        text-align: center;
        line-height: 20px;
        margin: 10px 0 0 0;
        font-family: code;
        padding: 5px;
        color: #0647AF;
    }
.bienvenida a{
    text-decoration:none;
    color:white;
}
    .bienvenida a:hover {
        color: #053064;
    }
    .bienvenida .menu {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

.colapsable {
    width: 100%;
    height: 100%;

}

nav {
    background-color: #f8f9fa;
}
    .colapsable ul {
        list-style: none;
        
    }

        .colapsable ul ul {
            height: 0;
            overflow: hidden;
            -moz-transition: inherit;
            -o-transition: inherit;
            -webkit-transition: inherit;
            transition: inherit;
            transition: all 0.5s;
           
        }

.colapsable > ul > li > a {
    color: #7D8997;
    background-color: #f8f9fa;
    display: block;
    padding: 2px;
    text-decoration: none;
    line-height: 30px;
    width: 100%;
    font-family: cdbold;
}
    .colapsable > ul > li > a:hover{
        color:#0647AF;
    }

    .colapsable ul ul a {
        text-decoration: none;
        display: block;
        line-height: 20px;
        padding-left: 5px;
        color: #7D8997;
        font-size:smaller;
        font-family:cdbold;
    }

        .colapsable ul ul a:hover {
            background-color: rgba(0,0,0,0.2);
            
        }

    .colapsable ul li ul:target {
        height: 177px;
    }

header {
    position: relative;
    width: 80%;
    height: 60px;
    left: 20%;
    top: -19px;
    background-color: #272b30;
}
    header .arriba{

       width:100%;
       float:left;
  
      display:block;
     height:inherit
    }

    header .arriba div{
        width: 100%;
        float: left;
        height:inherit;
       
            
    }


.arriba label {
    line-height:80px;
    height: 60px;
    width: 80%;
    margin-left: 40px;
    font-size: x-large;
    text-align: center;
   
    font-family: cdbold;
    color: #f8f9fa;
}

.arriba .lbl a {
    width:10%;
    background-image: url(images/logout.png);
    background-repeat: no-repeat;
    background-position: center 22px;
    background-color:rebeccapurple;
}
  
   

main {
    width: 80%;
    height:100%;
    position: absolute;
    left:20%;
    top:40px;
   background-color:white;
}
    main .plus {
        height: 80px;
       float:left;
        width: 60px;
        
        background-image: url(images/more.png);
        background-repeat: no-repeat;
        background-position: center 22px;
       padding:10px;
       margin:auto;
       box-sizing:border-box;
      
    }


    .buscar{
        width:50%;
       margin-left:50%;
       
    }

.buscar .search {
    border: 2px solid #7D8997;
    border-radius: 50px;
    width: 70%;
    padding-left:10px;
    
    height: 35px;
    margin: auto;
    margin-top: 20px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right;
}

table{
    width:80%;
   border-collapse:collapse;
    margin:auto;
    background-color:white;
    margin-top:20px;
 
   
    
  
}

    table th {
        border-bottom: 2px solid #7D8997;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color: #7D8997;
       
    }

    table td {
        text-align: center;
        height: 40px;
        line-height:30px;
    }
  table #fila:hover{
      background-color:rgba(0,0,0,0.2);
  }
  table td a{
      display:none;
  }

    table #fila:hover a{
        display:initial;
    }


    table a {
        background-image: url(images/quit.png);
        background-repeat: no-repeat;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        font-size: x-large;
        color: rgba(0,0,0,0);
    }
    table .edit {
        background-image: url(images/edit.png);
        background-repeat: no-repeat;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        font-size: x-large;
        color: rgba(0,0,0,0);
    }
main .divmain {
    background-color: #DBEBFF;
    width: 50%;
    margin: auto;
    height: 550px;
    max-height: 550px;
    filter: drop-shadow(3px 3px 3px black);
}



.divmain input, .divmain label, .divmain select {
    display: block;
    width: 90%;
    box-sizing: border-box;
    border: none;
    text-transform: uppercase;
    font-size: small;
    line-height: 25px;
    margin-bottom: 10px;
    height: 25px;
    margin: auto;
    font-family: cdbold;
    color: #7D8997;
}

.divmain input, .divmain select {
    border-bottom: 1.5px solid #7D8997;
    background-color: #DBEBFF;
}

.container-all {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 40px;
  visibility:hidden;
  opacity:0;
  transition:all 600ms;
}

    .container-all:target {
        background-color: rgba(0,0,0,0.6);
        visibility:visible;
        opacity:1;
    }
        .container-all:target .popup{
            top:50%;
            left:50%;
            transform:rotate(0deg) translate(-50%, -50%);
            visibility:visible;
        }

        .popup {
            width: 50%;
            max-height: 30%;
            height: 800px;
            position: absolute;
            top: -80%;
            left: -80%;
            visibility:hidden;
            transform: rotate(90deg) translate(-150%, 230%);
            transition: all 600ms;
            background-color: white;
        }
.popup label{
    text-align:center;
    font-size:x-large;
    height:100px;
    line-height:100px;
    color:#236b81;
    display:block;
}

.popup .confirm{
    height:50px;
  
    margin:0px 5px 0px 25px;
    width:55%;
    border-radius:5px;
    background-color:#41a799;
   color:white;
}

    .popup .cancel {
        height: 50px;
        margin: 0px 10px 0px 0px;
        width: 35%;
        border-radius: 5px;
        background-color: #236b81;
        color:white;
        text-decoration:none;
    }

    @media screen and (max-width: 500px) {
       table{
         
       }

       .bienvenida img{
  
       }
    }